<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <h1>Create a Basketball Team!</h1>
  <form action="/team" method="POST">
  <label for="team_name">Team Name:</label>
    <input type="text" name="name" placeholder="Enter your team's name" id="team_name"><br>
  <label for="coach">Coach:</label>
    <input type="text" name="coach" placeholder="Coach's name" id="coach"><br>
  <label for="pg">Point Guard:</label>
    <input type="text" name="pg" placeholder="Point Guard's name" id="pg"><br>
  <label for="sg">Shooting Guard:</label>
    <input type="text" name="sg" placeholder="Shooting Guard's name" id="sg"><br>
  <label for="sf">Small Forward:</label>
    <input type="text" name="sf" placeholder="Small Forward's name" id="sf"><br>
  <label for="pf">Power Forward:</label>
    <input type="text" name="pf" placeholder="Power Forward's name" id="pf"><br>
  <label for="c">Center:</label>
    <input type="text" name="c" placeholder="Center's name" id="c"><br><br>
    <input type="submit" value="Submit">

  </form>
 </head>
 <body>
 </body>
</html>


